:root {
    color: #fff;

    /* Declaration of gradients used throughout all pages */
    --index-gradient: linear-gradient(270deg,rgba(0, 0, 49, 1) 0%, rgba(0, 0, 85, 0.8) 54%, rgba(0, 0, 68, 0.5) 87%, rgba(0, 0, 81, 0.1) 100%);
    --flipped-index-gradient: linear-gradient(90deg,rgba(0, 0, 49, 1) 0%, rgba(0, 0, 85, 0.8) 54%, rgba(0, 0, 68, 0.5) 87%, rgba(0, 0, 81, 0.1) 100%);
    
    --content-gradient: linear-gradient(270deg,rgba(0, 0, 49, 1) 0%, rgba(0, 0, 85, 0.8) 63%, rgba(0, 0, 68, 0.5) 87%, rgba(0, 0, 81, 0.1) 100%);
    --grass-gradient: linear-gradient(270deg,rgba(0, 0, 49, 1) 0%, rgba(0, 0, 85, 0.8) 66%, rgba(0, 0, 68, 0.5) 100%);
    --hill-gradient: linear-gradient(270deg,rgba(0, 0, 49, 0.9) 0%, rgba(0, 0, 85, 0.7) 60%, rgba(0, 0, 68, 0.3) 81%, rgba(0, 0, 81, 0.0) 100%);

    --header-gradient: linear-gradient(270deg,rgba(0, 0, 49, 1) 0%, rgba(0, 0, 85, 0.8) 54%, rgba(0, 0, 68, 0.5) 100%);

}

.page-wrapper {
    width: 100%;

    display: flex;
    flex-direction: column;
}

.page-header {
    height: fit-content;

    background-image: var(--image); /* '--image' here and everywhere elese is passed from html */
    background-size: cover;
    background-position: center;
    padding-bottom: 160px;
}

.header-bar { /* The part of the header with the gradient */
    width: 96%;
    padding-left: 2%;
    padding-right: 2%;
    
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    background-image: var(--header-gradient);
}

.page-header img {
    height: 100%
}

.title {
    display: inline-flex;
    align-items: center;
}

.logo { /* Contains both the page title and the TC logo */
    width: 50px;
    height: 50px;
    margin-right: 30px;
}

.nav {
    display: inline-flex;
    flex-direction: row;
    flex-basis: 30em;
    justify-content: space-between;
    font-size: min(14px, 3vw);
}

.spacer { /* Images between content blocks */
    height: 160px;
}

.content-block {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    
    text-align: left;

    background-image: var(--index-gradient), var(--image);
    background-size: cover;
    background-position: center;
}

.flipped { /* Applies to every other content-block, for which the gradient direction is flipped */
    background-image: var(--flipped-index-gradient), var(--image);
    flex-direction: row-reverse;
}

.content-block h3 {
    padding: 15%;
}

.content-block p {
    padding: 10%;
}

.footer {
    padding-top: 160px;
    height: fit-content;

    background-image: var(--image);
    background-size: cover;
    background-position: center;
}

.footer-bar { /* The part of the footer with the gradient */
    width: 96%;
    padding-left: 2%;
    padding-right: 2%;
    
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    background-image: var(--flipped-index-gradient);
}



/* Typography Styling */

h1 {

}

h2 {

}

h3 {
    font-size: xx-large;
}

p {

}

/* The following css rules apply when the viewport width is less that 768px */

@media (max-width: 768px) {


    .content-block {
        flex-wrap: wrap;
        background-image: var(--flipped-index-gradient), var(--image);
    }

    .flipped {
        flex-direction: row;
    }

    .content-block h3 {
        padding-left: 20px;
        padding-top: 0;
        padding-bottom: 0;
        margin-bottom: 0;
    }

    .content-block p {
        padding: 0 150px 0 20px;
    }
}

/* Test Classes */

.r {
    background-color: #faa;
}

.g {
    background-color: 
    #afa;
}

.b {
    background-color: #aaf;
}

.content-block pre {
    padding: 10%;
}

.dog {
    font-size: 7px;
}
